<div class="relative w-full h-full text-white bg-cover bg-center" style="background-image: url('https://images.pexels.com/photos/2676842/pexels-photo-2676842.jpeg');">
  <div class="absolute inset-0 bg-[#013220] opacity-30"></div>
  <div class="relative container mx-auto px-6 py-20 text-center flex flex-col justify-center items-center h-full">

    <div class="bg-[#013220]/60 backdrop-blur-sm rounded-xl p-12 max-w-4xl">
      <h1 class="text-5xl font-extrabold mb-4" style="color: #BCB88A;">
        Bienvenue sur DeliveryMatch
      </h1>

      <div class="p-8 max-w-4xl mx-auto mb-4">
        <p class="text-lg" style="color: #EAEAEA;">
          DeliveryMatch est une application web mettant en relation des conducteurs avec des expéditeurs de colis dans une logique de co-transport collaboratif. L'application vise à optimiser les trajets, réduire les coûts de transport et limiter l'impact environnemental.
        </p>
      </div>

      <p class="mb-8 text-xl" style="color: #EAEAEA;">
        Si notre service vous plaît, connectez-vous pour commencer!
      </p>

      <div class="flex justify-center">
        <a routerLink="/login" class="px-10 py-4 text-xl font-bold rounded-lg transition-transform transform hover:scale-105" style="background-color: #355E3B; color: #FFFFFF;">
          Connexion
        </a>
      </div>
    </div>
  </div>
</div>
