:root {
  --deep-green: #013220;
  --hunter-green: #014421;
  --fern-green: #355E3B;
  --moss-green: #8A9A5B;
  --khaki: #BCB88A;
}
header{
  background: #013220;
  color: #BCB88A;
}
svg{
  color: #BCB88A;
}

.hover-bg-medium-green:hover {
  background-color: var(--fern-green);
}
