:root {
  --deep-green: #013220;
  --forest-green: #014421;
  --medium-green: #355E3B;
  --moss-green: #8A9A5B;
  --khaki: #BCB88A;
}
header{
  background: #013220;
  color: #BCB88A;
}
svg{
  color: #BCB88A;
}
